@model ResistanceOnline.Site.Models.GameModel

@{
    ViewBag.Title = "Setup";
}

<div>
    <h4>Game @Model.GameId</h4>
	<hr />
    @using (Html.BeginForm("Update","Game", FormMethod.Post)) { 
    <input type="hidden" name="GameId" value="@Model.GameId" />
    <dl class="dl-horizontal">
        <dt>
           Players
        </dt>
        <dd>
            @ResistanceOnline.Site.Infrastructure.Useful.CommaQuibbling(Model.Players.ToList())
        </dd>

        <dt>
            Characters
        </dt>
        @for (var i = 0; i < Model.AvailableCharacters.Count; i++)
        { 
        <dd>
            @if (ViewBag.CanUpdateGame)
            { 
                @Html.DropDownList("Character-"+i, new SelectList(Enum.GetValues(typeof(ResistanceOnline.Core.Character)), Model.AvailableCharacters[i]))
            } else {
                @Model.AvailableCharacters[i].Humanize()
            }
        </dd>
        }

        <dt>
            Rules
        </dt>
        @foreach (var rule in Enum.GetValues(typeof(ResistanceOnline.Core.Rule)).Cast<ResistanceOnline.Core.Rule>())
        {
            <dd>
                @if (ViewBag.CanUpdateGame)
                {
                <input type="checkbox" @(Model.Rules.Contains(rule)?"checked":"") name="@rule" />
                }
                @(rule.Humanize(LetterCasing.Sentence))
            </dd>
        }

        <dt>
            Round Tables
        </dt>
        @for (var i = 0; i < Model.RoundTables.Count; i++)
        {
            <dd>
                @if (ViewBag.CanUpdateGame)
                {
                    <span>Round @((i+1))</span>
                    <span>Size:</span><input type="number" name="roundsize-@i" value="@Model.RoundTables[i].TeamSize" />
                    <span>Fails:</span><input type="number" name="roundfails-@i" value="@Model.RoundTables[i].RequiredFails" />
                }
                else
                {
                    <span>Round @((i+1).ToWords()) has @("player".ToQuantity(Model.RoundTables[i].TeamSize, ShowQuantityAs.Words)) and requires @("fail".ToQuantity(Model.RoundTables[i].RequiredFails, ShowQuantityAs.Words))</span>
                }
            </dd>
        }
    </dl>
        if (ViewBag.CanUpdateGame)
        {         
        <input class="btn btn-primary" type="submit" value="Update" />
        }
    }

@if (Model.State == ResistanceOnline.Core.Game.State.Setup.ToString() && !ViewBag.IsPlayer)
{
    using (Html.BeginForm("Join", "Game", FormMethod.Post))
    {
        <input type="hidden" name="GameId" value="@Model.GameId" />
        <input class="btn btn-success" type="submit" value="Join Game" />
    }
}
@if (Model.State == ResistanceOnline.Core.Game.State.Setup.ToString() && ViewBag.CanStartGame)
{
    using (Html.BeginForm("Start", "Game", FormMethod.Post))
    {
        <input type="hidden" name="GameId" value="@Model.GameId" />
        <input class="btn btn-warning" type="submit" value="Start Game" />
    }
}
</div>

