@model ResistanceOnline.Core.GameSetup

@{
    ViewBag.Title = "Setup";
}

<div>
    <h4>GameSetup</h4>
	<hr />
    @using (Html.BeginForm("UpdateSetup","Game")) { 
    <input type="hidden" name="GameId" value="@Model.GameId" />
    <dl class="dl-horizontal">
        <dt>
           Players
        </dt>
        <dd>
            @Model.GameSize
        </dd>

        <dt>
            Characters
        </dt>
        @for (var i = 0; i < Model.AvailableCharacters.Count; i++)
        { 
        <dd>
            @Html.DropDownList("Character-"+i, new SelectList(Enum.GetValues(typeof(ResistanceOnline.Core.Character)), Model.AvailableCharacters[i]))
        </dd>
        }

        <dt>
            Rules
        </dt>
        @foreach (var rule in Enum.GetValues(typeof(ResistanceOnline.Core.Rule)).Cast<ResistanceOnline.Core.Rule>())
        {
            <dd>
                <input type="checkbox" @(Model.Rules.Contains(rule)?"checked":"") name="@rule" />@(rule.Humanize(LetterCasing.Sentence))
            </dd>
        }

        <dt>
            Round Tables
        </dt>
        @for (var i = 0; i < Model.RoundTables.Count; i++)
        {
            <dd>
                Size: <input type="number" name="roundsize-@i" value="@Model.RoundTables[i].TeamSize" />
                Fails: <input type="number" name="roundfails-@i" value="@Model.RoundTables[i].RequiredFails" />
            </dd>
        }
    </dl>
        <input type="submit" value="Update" />
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
